#youvalue-container {
  height: auto;
  background-color: #fef3c7;
  color: #92400e;
  padding: 10px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.youvalue-money {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.youvalue-sub {
  font-size: 12px;
  opacity: 0.7;
}